
.container{
    margin-left: 252.05px;
    margin-right: 248px
}

body {
    margin: 0;
    background: #FFFFFF;
    
    
}

.main {
    display: flex;
    justify-content:center;
}

.main-line {
    margin: 32.99px;
    margin-left: 130px
}

.nav-item { 
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin: 60.65px;
    font-family: 'Gilroy-Bold', sans-serif;
    line-height: 22px
}

.btn{
    color: #808080;
    text-decoration: none;
    font-size: 18px;
    margin: 60.65px;
    font-family: 'Gilroy-Bold', sans-serif;
    line-height: 22px;
}

.btn:hover{
    color: #000;
}

.border {
    margin-top: 31px;
    margin-bottom: 39px;
    margin-left: 170px;
    margin-right: 300px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border: 1px solid #828282
}

.subtext-line {
    font-family: 'Gilroy-Bold', sans-serif;
    margin-bottom: 30px;
    margin-top: 39px;
    margin-bottom: 30.64;
    margin-left: 130px;
    margin-right: 1070.45px;
    font-weight: 700px;
    font-size: 47.3392px;
    line-height: 59px
}
.lang-line {
    transform: rotate(-90deg);
    font-family: 'Gilroy-Bold', sans-serif;
    margin-left: 900px;
    margin-right: 100px;
    padding-left: 150px;
    text-align: center
}

.text-line {
    
    font-family: 'Gilroy-Medium', sans-serif;
    margin-top: -70px;
    margin-bottom: 45.67px;
    margin-left: 530.79px;
    margin-right: 350.57px;
    font-size: 18px;
    line-height: 22px
}

.main-logo {
    margin-left: 130px;
    margin-right: 250px
}

.down-main {
    display: flex;
    justify-content:center;
    background-color: #F6F6F6;;
    margin-top: 100px;
    padding-bottom: 100px
    
}

.down-line {
    font-family: 'Gilroy-Bold', sans-serif;
    margin-top: 120px;
    margin-right: 100px;
    font-size: 34px;
    line-height: 42px;
    text-align: center
}

.text-down-main {
    text-align: center;
    margin-top: 17.69px;
    margin-right: 85px;
    color: #000;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center
}

.skills-main {
    font-family: 'Gilroy-Bold', sans-serif;
    margin-top: 91px;
    margin-right: 630.74px;
    margin-left: 540.75px;
    text-align: center;
    display: flex;
    justify-content:center
}

.skills-line {
    margin-bottom: 69px;

    font-size: 34px;
    line-height: 42px
}

.text-work { 
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px
}

.icons {
    margin-top: 87.27px;
    margin-left: 50px;
    margin: 82px;
    display: flex;
    justify-content: center
}

.tell-us-about-yourself{
    background-color: #F6F6F6;;
    margin-right: 50px;
    display: flex;
    justify-content: center
    
}

.text-portfolio {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 47px;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;

}

.text-about {
    margin-top: 44.88px;
    margin-bottom: 99.09px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;


    text-align: center;
    text-decoration-line: underline;
}

.text-reebok {
    margin-top: 44.88px;
    margin-bottom: 99.09px;


    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}


.camera-text {
    margin-top: 44.88px;
    margin-bottom: 99.09px;

    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}

.contacts-end {
    margin-top: 114.24px;
    display: flex;
    justify-content: center
}

.contacts-text {
    margin-bottom: 20.03px;


    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.continuation-text {
    margin-bottom: 29.6px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.button {
    padding-top: 13px;
    padding-bottom: 6px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 79.78px;
    color: #FFFFFF;
    background-color: #000;
    text-decoration: none;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;

/* identical to box height */
    text-align: center;
}

.button {border-radius: 20px;}

.icons-end{
margin-left: 50px;
}

.likeME{
    margin-top: 45.06px;
    margin-bottom: 123px;
    color: #828282;

    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}